* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.mid-order {
  margin: 0 auto;
}

#container {
  display: flex;
  flex-flow: column nowrap;
}

#todo {
  width: 20em;
}

#todo-form {
  display: flex;
  justify-content: center;
}

#todo-form input:first-child {
  width: 20em;
  margin-right: 1em;
}
#todo-form input:last-child {
  width: 5em;
}

#todo-list > li > span {
  word-break: break-all;
}
